@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*General styles*/

* {
 padding: 0 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  position: relative;
}


/*pagines de la web style*/
.pagInici{
    height: 100%;
    background-color:#0B4B48;
    color: white;
}

.pagEstudis{
    height: 100%;
    background-color: white;
}

.pagExp{
    height: 100%;
    background-color: #0B4B48;
}

.pagProjectes{
    height: 100%;
    background-color: white;  
}


/*navbar style*/


.movilidad{
    position: fixed;
    width: 100%;
    font-weight: bold;
}

.navbar{
    justify-content: space-between;
    background-color:darkcyan;
}

/*Lletras  header dreta style*/
.inicials{
    margin-right: 10px;
    margin-left: 10px;
    color: #212058;
}

.inicials span{
    color: white;
}



/* menuu*/
.menu{
    float: right;
}

.menu li{
    padding: 10px 20px;
    
}
.menu a{
    color: white;
    text-align:center;
    height: 100%;
    width: 100%;
}
.menu li:hover{
    background-color: cadetblue;
    color: #2A3364;
}

.menu .activat{
    color: rgb(166, 166, 235);
}

.menu ul{
    background-color: darkcyan;
}

.menu ul li a:hover{
    background-color: cadetblue;
    color: #2A3364;
}

    /* menu quan es mou */
    .movilidad.active{
        z-index: 2;
    }

    .movilidad.active .lletras{
        font-size: 20px;
    }

    @media (min-width: 768px){
        .movilidad.active{
            z-index: 2;
            height: 85px;
        }
    }
   
/* main */
.main{
    height: 100vh;
}
/* sobre mi */
.sobreMiClass{
    margin-top: 20%;
}

.sobreMiClass h1{
    font-size: 3em;
}
.sobreMiClass a:hover{
    text-decoration: underline;
}

/* contacte */

.contacte i{
    margin-left: 15px;
    font-size: 20px;
}
.contacte span{
   margin-left: 30px;
   font-size: 20px;
}

.contacte a{
    text-decoration: none;
    color: white;
}

/* estudis */

.estudisClass{
    height: 100%;
}
.estudisClass h1{
    font-size: 3em;
    margin-top: 8%;
}

/* experiencia */
.expClass{
    height: 100%;
}
.expClass h1{
    font-size: 3em;
    margin-top: 8%;
}

/* habilitats */
.habClass{
    height: 100%;
    margin-bottom: 100px;
}
.habClass h1{
    font-size: 2em;
    margin-top: 5%;
}




/*targetas*/
.tarjetasEspai{
    margin-top: 2%;
}


/* footer */

.footerPers{
    text-align: center;
    background-color: darkcyan;
    color: white;
    height: 130px;
    bottom: 0;
    position: relative;
}

.copy{
    font-size: 18px;
}
.footerXarxes i{
    font-size: 30px;
    padding: 0 15px;
}
.footerXarxes a{
    text-decoration: none;
    color: white;
}

.espai{
    margin-top: 20%;
}

/*Aliniar correu be en totes les mides.  */
@media (min-width: 768px) and (max-width: 993px) {
    .contacte i{
        font-size: 15px;
    }
    .contacte span{
       font-size: 18px;
    }
}