@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*General styles*/

* {
 
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/*wrapper de la web style*/
.wrapper{
  
    height: 100%;
    background-color:#0B4B48;
    color: white;
}

/*navbar style*/
.navbar{
    justify-content: space-between;
    background-color:darkcyan;
}

/*Lletras  header dreta style*/
.inicials{
    margin-right: 10px;
    margin-left: 10px;
    color: #212058;
}

.inicials span{
    color: white;
}


/* menuu*/
.menu{
    float: right;
}

.menu li{
    padding: 10px 20px;
    
}
.menu a{
    color: white;
    text-align:center;
}
.menu li:hover{
    background-color: cadetblue;
    color: #2A3364;
}

.menu .activat{
    color: rgb(166, 166, 235);
}

.menu ul{
    background-color: darkcyan;
}

.menu ul li a:hover{
    background-color: cadetblue;
    color: #2A3364;
}

/* main */
.main{
    height: 70vh;
}

/* sobre mi */
.sobreMiClass{
    margin-top: 10%;
}

.sobreMiClass h1{
    font-size: 3em;
}

/* contacte */

.contacte i{
    margin-left: 15px;
    font-size: 20px;
}
.contacte span{
   margin-left: 30px;
   font-size: 20px;
}

.contacte a{
    text-decoration: none;
    color: white;
}
/* footer */

.footerPers{
    text-align: center;
    background-color: darkcyan;
    color: white;
    height: 130px;
}

.copy{
    font-size: 18px;
}
.footerXarxes i{
    font-size: 30px;
    padding: 0 15px;
}
.footerXarxes a{
    text-decoration: none;
    color: white;
}










