@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*General styles*/

* {
 
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/*wrapper de la web style*/
.wrapper{
  
    height: 100vh;
    background-color:#0B4B48;
    color: white;
}

/*navbar style*/
.navbar{
    justify-content: space-between;
    background-color:darkcyan;
}

/*Lletras  header dreta style*/
.inicials{
    margin-right: 10px;
    margin-left: 10px;
    color: #212058;
}

.inicials span{
    color: white;
}


/* menuu*/
.menu{
    float: right;
}

.menu li{
    padding: 10px 20px;
    
}
.menu a{
    color: white;
    text-align:center;
}
.menu li:hover{
    background-color: cadetblue;
    color: #2A3364;
}

.menu .activat{
    color: rgb(166, 166, 235);
}

.menu ul{
    background-color: darkcyan;
}

.menu ul li a:hover{
    background-color: cadetblue;
    color: #2A3364;
}

/* sobre mi */











